{% extends "::layout.html.twig" %}


{% block title 'Accueil' %}



{% block header %}
    <h1>An Error Occurred: {{ status_text }}</h1>
{% endblock %}

{% block content %}


    <div class="panel panel-default">
        <div class="panel-body">

            <h1>Oops!!!!!! An Error Occurred</h1>
            <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

        </div>
    </div>


{% endblock %}

