{% extends "::layout.html.twig" %}


{% block title 'Accueil' %}



{% block header %}
    <h1>Le tweet d'id {{ tweet.id }} ( {{ tweet.createdAt|date("m/d/Y H:m:s") }})</h1>
{% endblock %}

{% block content %}


    <div class="panel panel-default">
        <div class="panel-body">
            {{ tweet.message }}
        </div>
    </div>


{% endblock %}